In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# 데이터 불러오기
file_path = '/content/drive/MyDrive/Colab Notebooks/final_nba_data.csv'
data = pd.read_csv(file_path, encoding='latin1')

# 데이터 확인
data_info = data.info()
data_head = data.head()

data_info, data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3149 entries, 0 to 3148
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3149 non-null   object
 1   debut   3149 non-null   int64
 2   start   3149 non-null   int64
 3   end     3149 non-null   int64
 4   salary  3149 non-null   float64
 5   birth   3149 non-null   int64
 6   target  3149 non-null   float64
 7   Pos     2496 non-null   object
 8   G       2496 non-null   float64
 9   GS      2496 non-null   float64
 10  MP      2496 non-null   float64
 11  FG      2496 non-null   float64
 12  FGA     2496 non-null   float64
 13  FG%     2496 non-null   float64
 14  3P      2496 non-null   float64
 15  3PA     2496 non-null   float64
 16  3P%     2496 non-null   float64
 17  2P      2496 non-null   float64
 18  2PA     2496 non-null   float64
 19  2P%     2496 non-null   float64
 20  eFG%    2496 non-null   float64
 21  FT      2496 non-null   float64
 22  FTA     2496 non-null   float64
 23  FT%     2496 non-null   float64
 24  ORB     2496 non-null   float64
 25  DRB     2496 non-null   float64
 26  TRB     2496 non-null   float64
 27  AST     2496 non-null   float64
 28  STL     2496 non-null   float64
 29  BLK     2496 non-null   float64
 30  TOV     2496 non-null   float64
 31  PF      2496 non-null   float64
 32  PTS     2496 non-null   float64
dtypes: float64(27), int64(4), object(2)
memory usage: 812.0+ KB

(None,
            name  debut  start   end     salary  birth   target  Pos       G  \
 0   A.J. Lawson   2021   2023  2026  1978006.0   2000  0.01397  NaN     NaN
 1  Aaron Brooks   2007   2012  2013  3323125.0   1985  0.05725   PG  50.000
 2  Aaron Brooks   2007   2012  2013  2454000.0   1985  0.04228   PG  50.000
 3  Aaron Brooks   2007   2015  2015  2250000.0   1985  0.03214   PG  45.000
 4  Aaron Brooks   2007   2016  2016  2700000.0   1985  0.02868   PG  50.125

        GS  ...      FT%     ORB    DRB    TRB     AST    STL   BLK     TOV  \
 0     NaN  ...      NaN     NaN    NaN    NaN     NaN    NaN   NaN     NaN
 1  26.500  ...  0.86375  0.4250  1.225  1.625  4.3000  0.625  0.10  1.9750
 2  26.500  ...  0.86375  0.4250  1.225  1.625  4.3000  0.625  0.10  1.9750
 3  10.900  ...  0.76210  0.3800  1.150  1.540  3.0800  0.590  0.17  1.5400
 4  10.625  ...  0.71925  0.3875  1.225  1.625  2.6875  0.575  0.20  1.4375

       PF      PTS
 0    NaN      NaN
 1  2.025  12.8750
 2  2.025  12.8750
 3  1.860   8.7900
 4  1.850   7.8875

 [5 rows x 33 columns])

In [4]:

# 결측치가 있는 모든 행 제거
data_cleaned = data.dropna()

# Pos 열의 값이 특정 값인 행 제거
positions_to_remove = ['C-PF', 'PF-SF', 'PG-SG', 'SF-SG', 'SG-PG', 'SG-SF']
data_filtered = data_cleaned[~data_cleaned['Pos'].isin(positions_to_remove)]

# Pos 열을 원 핫 인코딩
data_encoded = pd.get_dummies(data_filtered, columns=['Pos'])
# 원-핫 인코딩된 열만 선택하여 int로 변환
encoded_columns = [col for col in data_encoded.columns if col.startswith('Pos_')]
data_encoded[encoded_columns] = data_encoded[encoded_columns].astype(int)

# 결과 데이터 확인
data_encoded.head()

,name,debut,start,end,salary,birth,target,G,GS,MP,...,STL,BLK,TOV,PF,PTS,Pos_C,Pos_PF,Pos_PG,Pos_SF,Pos_SG
1,Aaron Brooks,2007,2012,2013,3323125.0,1985,0.05725,50.000000,26.500000,25.050000,...,0.625000,0.100000,1.975000,2.025,12.875000,0,0,1,0,0
2,Aaron Brooks,2007,2012,2013,2454000.0,1985,0.04228,50.000000,26.500000,25.050000,...,0.625000,0.100000,1.975000,2.025,12.875000,0,0,1,0,0
3,Aaron Brooks,2007,2015,2015,2250000.0,1985,0.03214,45.000000,10.900000,19.990000,...,0.590000,0.170000,1.540000,1.860,8.790000,0,0,1,0,0
4,Aaron Brooks,2007,2016,2016,2700000.0,1985,0.02868,50.125000,10.625000,18.925000,...,0.575000,0.200000,1.437500,1.850,7.887500,0,0,1,0,0
5,Aaron Brooks,2007,2017,2017,2116955.0,1985,0.02136,51.777778,9.444444,18.355556,...,0.555556,0.188889,1.388889,1.800,7.566667,0,0,1,0,0

In [5]:
# target feature (목표 변수)
target = data_encoded['target']

# input feature (입력 변수들)
input_features = data_encoded.drop(columns=['name', 'target'])

# 결과 데이터 확인
input_features.head(), target.head()

(   debut  start   end     salary  birth          G         GS         MP  \
 1   2007   2012  2013  3323125.0   1985  50.000000  26.500000  25.050000
 2   2007   2012  2013  2454000.0   1985  50.000000  26.500000  25.050000
 3   2007   2015  2015  2250000.0   1985  45.000000  10.900000  19.990000
 4   2007   2016  2016  2700000.0   1985  50.125000  10.625000  18.925000
 5   2007   2017  2017  2116955.0   1985  51.777778   9.444444  18.355556

          FG        FGA  ...       STL       BLK       TOV     PF        PTS  \
 1  4.500000  11.375000  ...  0.625000  0.100000  1.975000  2.025  12.875000
 2  4.500000  11.375000  ...  0.625000  0.100000  1.975000  2.025  12.875000
 3  3.150000   7.900000  ...  0.590000  0.170000  1.540000  1.860   8.790000
 4  2.900000   7.062500  ...  0.575000  0.200000  1.437500  1.850   7.887500
 5  2.788889   6.788889  ...  0.555556  0.188889  1.388889  1.800   7.566667

    Pos_C  Pos_PF  Pos_PG  Pos_SF  Pos_SG
 1      0       0       1       0       0
 2      0       0       1       0       0
 3      0       0       1       0       0
 4      0       0       1       0       0
 5      0       0       1       0       0

 [5 rows x 35 columns],
 1    0.05725
 2    0.04228
 3    0.03214
 4    0.02868
 5    0.02136
 Name: target, dtype: float64)

In [7]:
input_features.shape, target.shape

((2469, 35), (2469,))

In [8]:
input_features['debut'] = input_features['debut'].astype(int)
input_features.info(), target.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2469 entries, 1 to 3142
Data columns (total 35 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   debut   2469 non-null   int64
 1   start   2469 non-null   int64
 2   end     2469 non-null   int64
 3   salary  2469 non-null   float64
 4   birth   2469 non-null   int64
 5   G       2469 non-null   float64
 6   GS      2469 non-null   float64
 7   MP      2469 non-null   float64
 8   FG      2469 non-null   float64
 9   FGA     2469 non-null   float64
 10  FG%     2469 non-null   float64
 11  3P      2469 non-null   float64
 12  3PA     2469 non-null   float64
 13  3P%     2469 non-null   float64
 14  2P      2469 non-null   float64
 15  2PA     2469 non-null   float64
 16  2P%     2469 non-null   float64
 17  eFG%    2469 non-null   float64
 18  FT      2469 non-null   float64
 19  FTA     2469 non-null   float64
 20  FT%     2469 non-null   float64
 21  ORB     2469 non-null   float64
 22  DRB     2469 non-null   float64
 23  TRB     2469 non-null   float64
 24  AST     2469 non-null   float64
 25  STL     2469 non-null   float64
 26  BLK     2469 non-null   float64
 27  TOV     2469 non-null   float64
 28  PF      2469 non-null   float64
 29  PTS     2469 non-null   float64
 30  Pos_C   2469 non-null   int64
 31  Pos_PF  2469 non-null   int64
 32  Pos_PG  2469 non-null   int64
 33  Pos_SF  2469 non-null   int64
 34  Pos_SG  2469 non-null   int64
dtypes: float64(26), int64(9)
memory usage: 694.4 KB
<class 'pandas.core.series.Series'>
Index: 2469 entries, 1 to 3142
Series name: target
Non-Null Count  Dtype
--------------  -----
2469 non-null   float64
dtypes: float64(1)
memory usage: 38.6 KB

(None, None)

In [9]:
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error, r2_score


# 훈련/검증 데이터셋 분리
X_train, X_test, y_train, y_test = train_test_split(input_features, target, test_size=0.2, random_state=42)

# XGBoost 모델 학습 및 평가
xgb_model = XGBRegressor()
xgb_model.fit(X_train, y_train)
xgb_predictions = xgb_model.predict(X_test)
xgb_test_mse = mean_squared_error(y_test, xgb_predictions)
xgb_test_r2 = r2_score(y_test, xgb_predictions)
xgb_train_mse = mean_squared_error(y_train, xgb_model.predict(X_train))
xgb_train_r2 = r2_score(y_train, xgb_model.predict(X_train))
# AdaBoost 모델 학습 및 평가
ada_model = AdaBoostRegressor()
ada_model.fit(X_train, y_train)
ada_predictions = ada_model.predict(X_test)
ada_test_mse = mean_squared_error(y_test, ada_predictions)
ada_test_r2 = r2_score(y_test, ada_predictions)
ada_train_mse = mean_squared_error(y_train, ada_model.predict(X_train))
ada_train_r2 = r2_score(y_train, ada_model.predict(X_train))

print(f"""
          xgb_test_mse: {xgb_test_mse}
          xgb_train_mse: {xgb_train_mse}
          xgb_test_r2: {xgb_test_r2}
          xgb_train_r2: {xgb_train_r2}

          ada_test_mse: {ada_test_mse}
          ada_train_mse: {ada_train_mse}
          ada_test_r2: {ada_test_r2}
          ada_train_r2: {ada_train_r2}
      """
     )

          xgb_test_mse: 6.852434246716843e-05
          xgb_train_mse: 3.598023670553701e-07
          xgb_test_r2: 0.9869873537351564
          xgb_train_r2: 0.9999336873363099

          ada_test_mse: 0.00024858404287796424
          ada_train_mse: 0.00018169359796815573
          ada_test_r2: 0.9527943486855712
          ada_train_r2: 0.9665133207562985

In [10]:
from sklearn.preprocessing import StandardScaler
#표준화
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# XGBoost 모델 학습 및 평가(표준화 O)
xgb_scaled= XGBRegressor()
xgb_scaled.fit(X_train_scaled, y_train)
xgb_scaled_predictions = xgb_scaled.predict(X_test_scaled)
xgb_scaled_test_mse = mean_squared_error(y_test, xgb_scaled_predictions)
xgb_scaled_test_r2 = r2_score(y_test, xgb_scaled_predictions)
xgb_scaled_train_mse = mean_squared_error(y_train, xgb_scaled.predict(X_train_scaled))
xgb_scaled_train_r2 = r2_score(y_train, xgb_scaled.predict(X_train_scaled))

# AdaBoost 모델 학습 및 평가(표준화 O)
ada_scaled = AdaBoostRegressor()
ada_scaled.fit(X_train_scaled, y_train)
ada_scaled_predictions = ada_scaled.predict(X_test_scaled)
ada_scaled_test_mse = mean_squared_error(y_test, ada_scaled_predictions)
ada_scaled_test_r2 = r2_score(y_test, ada_scaled_predictions)
ada_scaled_train_mse = mean_squared_error(y_train, ada_scaled.predict(X_train_scaled))
ada_scaled_train_r2 = r2_score(y_train, ada_scaled.predict(X_train_scaled))

print("표준화 한 모델")
print(f"""
          xgb_scaled_test_mse: {xgb_scaled_test_mse}
          xgb_scaled_train_mse: {xgb_scaled_train_mse}
          xgb_scaled_test_r2: {xgb_scaled_test_r2}
          xgb_scaled_train_r2: {xgb_scaled_train_r2}

          ada_scaled_test_mse: {ada_scaled_test_mse}
          ada_scaled_train_mse: {ada_scaled_train_mse}
          ada_scaled_test_r2: {ada_scaled_test_r2}
          ada_scaled_train_r2: {ada_scaled_train_r2}
      """
     )

표준화 한 모델

          xgb_scaled_test_mse: 6.852434246716843e-05
          xgb_scaled_train_mse: 3.598023670553701e-07
          xgb_scaled_test_r2: 0.9869873537351564
          xgb_scaled_train_r2: 0.9999336873363099

          ada_scaled_test_mse: 0.0002111694842060017
          ada_scaled_train_mse: 0.00015676138620537
          ada_scaled_test_r2: 0.9598993043790426
          ada_scaled_train_r2: 0.9711084027375732